@media only screen and (max-width:1280px){
    .carousel-left {
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 51px !important;
    }

}

@media only screen and (max-width:1080px) {
    .header-carousel .owl-next {
        position: absolute;
        top: 50%;
        right: 3% !important;
    }
    .contact-right img {
        height: 420px;
        width: 100%;
    }

    .header-carousel .owl-prev {
        position: absolute;
        top: 50%;
        right: 3% !important;
    }
    .carousel-right img {
        width: 230px !important ;
    }
    
    .carousel-left {
        padding-left: 55px !important;
    }
}
@media only screen and (max-width:992px){
    .carousel-left {
        padding-left: 12px !important;
    }
    .contact-right img {
        height: 415px;
        width: 100%;
    }
    .submit-btn {
        width: 80%;
        display: block;
    }

    .carousel-one .owl-next i {
        width: 34px;
        background: #582fd7;
        border-radius: 50%;
        height: 34px;
        line-height: 34px;
        color: white;
        font-size: 13px;
    }
    .carousel-one .owl-prev i {
        width: 34px;
        background: #582fd7;
        border-radius: 50%;
        height: 34px;
        line-height: 34px;
        color: white;
        font-size: 13px;
    }

    .carousel-one .owl-next {
        position: absolute;
        top: 50%;
        right: -40px;
    }
    .carousel-one .owl-prev {
        position: absolute;
        top: 50%;
        left: -40px;
    }
}

@media only screen and (max-width:782px){
    .contact-title {
        margin-top: 31px;
    }

    .contact-left {
        flex-basis: 100%;
        padding-left: 10%;
    }
    .contact-right img {
        display: none;
    }

    .carousel-right img {
        width: 185px !important;
    }
    .carousel-left {
        padding-left: 9px !important;
    }
    .single-service-box {
        margin-bottom: 80px;
        width: 64%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-img {
        text-align: center;
        margin-bottom: 30px;
    }

    .primary-header h1::after {
        bottom: -4px;
        left: 42%;
    }
    .primary-header {
        text-align: center;
    }
    .single-blog {
        text-align: center;
        margin-bottom: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .single-testimonial {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-one .owl-next i {
        display: none;
    }
    .carousel-one .owl-prev i {
        display: none;
    }

}

@media only screen and (max-width:682px){
    
    .carousel-one .owl-next i {
        width: 32px;
        height: 32px;
        font-size: 10px;
        line-height: 32px;
    }

    .carousel-one .owl-prev i {
        width: 32px;
        height: 32px;
        font-size: 10px;
        line-height: 32px;
    }

    .carousel-one .owl-next {
        top: 36%;
        right: -40px;
    }

    .carousel-one .owl-prev {
        top: 36%;
        left: -40px;
    }
    .carousel-right img {
        width: 185px !important;
        display: none !important;
    }
    .carousel-left {
       
        padding: 0px 80px !important;
    }
    .single-carousel-item span {
        margin-top: 15px;
    }
    .single-testimonial {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-right img {
        height: 407px;
        width: 100%;
    }
}
@media only screen and (max-width:400px){

    .single-testimonial {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}
.newslatter-input {
	display: flex;
	justify-content: end;
}
.newslatter-input input {
	padding: 10px 10px;
	width: 240px;
}